[Desktop Entry]
Name=Avidemux Video Editor (Qt)
GenericName=Video Editor
Comment=Audio/video editing software - Qt interface
Comment[pl]=Edytor audio/wideo - Qt
Exec=avidemux3_qt4
MimeType=video/mpeg;video/quicktime;video/x-msvideo;video/x-anim;audio/x-mp3;audio/x-mp2;
Icon=avidemux
Terminal=false
Type=Application
Categories=Qt;AudioVideo;AudioVideoEditing;
# vi: encoding=utf-8
