[Desktop Entry]
Name=Avidemux Video Editor (GTK)
GenericName=Video Editor
Comment=Audio/video editing software - GTK interface
Comment[pl]=Edytor audio/wideo - GTK
Exec=avidemux3_gtk
MimeType=video/mpeg;video/quicktime;video/x-msvideo;video/x-anim;audio/x-mp3;audio/x-mp2;
Icon=avidemux
Terminal=false
Type=Application
Categories=GTK;AudioVideo;AudioVideoEditing;
# vi: encoding=utf-8
