[Desktop Entry]
Name=avidemux
Comment=Audio/video editing software
Comment[pl]=Edytor audio/wideo
Exec=avidemux2
Icon=avidemux.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;AudioVideo;AudioVideoEditing;
# vi: encoding=utf-8
